.content {
  padding-top: 50px;
}

.jumbotron {
    text-align: center;
}

footer {
    text-align: center;
}

.btn-accion {
    margin: 20px 0px 10px;
}

.form {
    margin-top: 100px;
}

.nav-menu {
    color: #FFFFFF !important;
}

.nav-menu:hover {
    color: #009688 !important;
    background-color: #FFFFFF !important;
}

.dark-color-background {
    background-color: #009688;
}

.primary-color-background, .primary-color-background:hover {
    background-color: #B2DFDB !important;
}

.button-softline, .button-softline:link, .button-softline:hover,
    .button-softline:active, .button-softline:visited {
    background-color: #FF5722;
    color:#FFFFFF; 
    border-color: #FF5722;
    text-emphasis: bold;
}